.SortMenu {
  grid-area: SORT;
  margin-right: auto;
  margin-bottom: 20px;
  width: 220px;
}

@media (max-width: 756px) {
  .SortMenu {
    margin: 20px auto;
  }
}

.customDropdown {
  position: relative;
  display: inline-block;
}

.dropdownHeader {
  cursor: pointer;
  padding: 8px;
  border-radius: 12px;
  background: var(--bg-secondary);
}

.dropdownList {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  list-style: none;
  border: 1px solid var(--bg-secondary);
  background-color: var(--bg-color);
  border-radius: 12px;
  z-index: 1;

  li {
    cursor: pointer;
    padding: 8px;

    &:hover {
      background-color: var(--bg-secondary);
    }
  }
}
