:root {
  --bg-color: #242424;
  --bg-secondary: #383838;
  --primary-color: #ffffff;

  --font-main: -apple-system, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --font-xs: 12px;
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 24px;
  --font-xl: 40px;
}